<h1>création de l'éditeur</h1>
<form action="/editors/new" method="post">
    <!-- Champ de texte -->
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required>
        <br><br>

        <!-- Bouton de soumission -->
        <button type="submit">Envoyer</button>
</form>