
<!-- Formulaire d'ajout de jeux -->
<form action="/games/new" method="post">
    <!-- Champ de texte -->
        <label for="title">Titre:</label>
        <input type="text" id="title" name="title" required>
        <br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <br><br>

        <!-- Champ de date -->
        <label for="Release">Date de sortie:</label>
        <input type="date" id="Release" name="Release" required>
        <br><br>
        <select> 
            
        </select>

        <!-- Bouton de soumission -->
        <button type="submit">Envoyer</button>
</form>      
